
@{
    ViewData["Title"] = "Success";
}

<div class="container-fluid">
    <div class="row text-center justify-content-center align-content-center">
        <h1>THANH TOÁN THÀNH CÔNG</h1>
        <a asp-controller="Home" asp-action="Index">Quay về trang chủ</a>        
        <a asp-controller="HangHoa" asp-action="Index">Tiếp tục mua hàng</a>
    </div>
</div>

